Repository johanviberg/proxycheck-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, json-validate

format:
  tags: format code style
  run: pnpm format

lint:
  tags: lint style
  run: pnpm lint

typecheck:
  tags: typescript types
  run: pnpm type-check

json-validate:
  tags: validation
  run: "for file in {files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: format, json-validate

fix: extract duplicated stripUndefined function to shared utility
  src/config/index.ts
  src/services/check.ts
  src/services/listing.ts
  src/services/rules.ts
  src/services/stats.ts
  src/utils/object.ts
Due: format, lint, typecheck

docs: update all documentation URLs to use proxycheck.io/api
  CONTRIBUTING.md
  README.md
  examples/run-all-examples.ts
Due: format, lint, typecheck

fix(ci): build before running tests in manual release workflow
  .github/workflows/release-manual.yml
Due: none

docs: add live demo section with link to interactive demo site
  README.md
Due: none

fix(tests): update live integration tests to match current API behavior
  .github/workflows/integration-tests.yml
  jest.config.integration.js
  package.json
  tests/data/test-vectors.ts
  tests/integration/README.md
  tests/integration/live-api.test.ts
  tests/integration/setup.ts
Due: format, lint, typecheck, json-validate

fix(ci): resolve YAML syntax error in integration tests workflow
  .github/workflows/integration-tests.yml
Due: none

feat: add advanced examples and clarify SDK is server-side only
  README.md
  examples/advanced-configuration.ts
  examples/basic-usage.ts
  examples/batch-processing.ts
  examples/country-filtering.ts
  examples/enterprise-security.ts
  examples/error-handling.ts
  examples/list-management.ts
  examples/logging-example.ts
  examples/realtime-monitoring.ts
  examples/rules-management.ts
  examples/run-all-examples.ts
  examples/statistics-monitoring.ts
  tests/compatibility/browser-env.test.ts
  tests/compatibility/deno-env.test.ts
  tests/compatibility/deno-example.ts
  tests/compatibility/nodejs-env.test.ts
  tests/compatibility/typescript-versions.test.ts
  tests/data/test-vectors.ts
  tests/integration/live-api.test.ts
  tests/integration/setup.ts
  tests/setup.ts
Due: format, lint, typecheck

chore: update project configuration and dependencies
  .gitignore
  .release-please-manifest.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: format, json-validate

feat: add enhanced error handling system
  src/errors/enhanced.ts
  src/errors/handler.ts
  src/errors/index.ts
  src/errors/recovery.ts
  src/utils/error.ts
Due: format, lint, typecheck

feat: implement modern client architecture
  src/client/index.ts
  src/client/modern.test.ts
  src/client/modern.ts
Due: format, lint, typecheck

feat: add semantic configuration system
  src/config/index.ts
  src/config/semantic.test.ts
  src/config/semantic.ts
Due: format, lint, typecheck

feat: add response handling and transformation utilities
  src/response/index.ts
  src/response/interceptor.ts
  src/response/status-handler.test.ts
  src/response/status-handler.ts
  src/types/mappings.ts
  src/types/responses.ts
  src/utils/index.ts
  src/utils/transform.test.ts
  src/utils/transform.ts
  src/utils/validation.ts
  src/version.ts
Due: format, lint, typecheck

refactor: modernize list management services
  src/services/list-management-compat.ts
  src/services/list-management.ts
  src/services/listing.ts
Due: format, lint, typecheck

feat: add dashboard service and update core services
  src/services/check.ts
  src/services/dashboard.ts
  src/services/rules.ts
  src/services/stats.ts
  src/types/constants.ts
  src/types/index.ts
  src/types/schemas.ts
Due: format, lint, typecheck

docs: update examples with new API features
  examples/advanced-configuration.ts
  examples/basic-usage.ts
  examples/batch-processing.ts
  examples/country-filtering.ts
  examples/enterprise-security.ts
  examples/error-handling.ts
  examples/list-management.ts
  examples/logging-example.ts
  examples/realtime-monitoring.ts
  examples/rules-management.ts
  examples/run-all-examples.ts
  examples/statistics-monitoring.ts
Due: format, lint, typecheck

test: update and add comprehensive test coverage
  src/client/client.test.ts
  src/config/config.test.ts
  src/http/http-client.test.ts
  src/index.test.ts
  tests/compatibility/browser-env.test.ts
  tests/compatibility/commonjs-example.js
  tests/compatibility/commonjs-import.test.js
  tests/compatibility/deno-env.test.ts
  tests/compatibility/deno-example.ts
  tests/compatibility/esm-example.mjs
  tests/compatibility/esm-import.test.mjs
  tests/compatibility/nodejs-env.test.ts
  tests/compatibility/package-exports.test.ts
  tests/compatibility/run-compatibility-tests.sh
  tests/compatibility/typescript-declarations.test.ts
  tests/compatibility/typescript-versions.test.ts
  tests/integration/live-api.test.ts
  tests/integration/setup.ts
  tests/performance/benchmark.ts
Due: format, lint, typecheck

docs: update documentation and finalize API exports
  CHANGELOG.md
  README.md
  src/index.ts
Due: format, lint, typecheck

chore: update .gitignore with development files
  .gitignore
Due: none

fix: resolve lint errors and failing test
  src/client/modern.test.ts
  src/client/modern.ts
  src/errors/enhanced.ts
  src/errors/index.ts
  src/http/index.ts
  src/response/status-handler.ts
  src/services/check.ts
  src/services/dashboard.ts
  src/utils/error.ts
Due: format, lint, typecheck

fix: package.json to reduce vulnerabilities
  package.json
Due: format, json-validate

fix: upgrade zod from 3.25.75 to 3.25.76
  package.json
Due: format, json-validate

chore(deps): update minor/patch dependencies
  package.json
  pnpm-lock.yaml
Due: format, json-validate

fix: address critical security and correctness issues from code review
  src/client/client.test.ts
  src/client/index.ts
  src/config/index.ts
  src/http/index.ts
  src/services/base.ts
  src/services/check.ts
  src/services/listing.ts
  src/services/rules.ts
  src/services/stats.ts
  src/utils/object.ts
Due: format, lint, typecheck

fix: resolve remaining code review issues
  src/client/index.ts
  src/errors/index.ts
  src/index.ts
  src/services/base.ts
  src/services/check.ts
  src/types/constants.ts
  src/types/schemas.ts
Due: format, lint, typecheck

fix: harden error and HTTP robustness
  src/config/index.ts
  src/errors/index.ts
  src/http/index.ts
  src/types/constants.ts
  src/types/index.ts
Due: format, lint, typecheck

fix: improve API surface, consistency, and DX
  src/client/client.test.ts
  src/client/index.ts
  src/config/index.ts
  src/errors/index.ts
  src/http/index.ts
  src/services/check.ts
  src/services/rules.ts
  src/services/stats.ts
Due: format, lint, typecheck

refactor: polish API surface, schemas, and DX improvements
  examples/advanced-configuration.ts
  examples/basic-usage.ts
  src/client/client.test.ts
  src/client/index.ts
  src/errors/errors.test.ts
  src/errors/index.ts
  src/http/http-client.test.ts
  src/http/index.ts
  src/logging/index.ts
  src/services/stats.ts
  src/types/schemas.ts
Due: format, lint, typecheck

chore(security): harden pnpm supply-chain and add zizmor workflow audit
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release-manual.yml
  .github/workflows/release-please.yml
  .github/workflows/zizmor.yml
  .npmrc
  package.json
Due: format, json-validate

fix(deps): patch known advisories within release-age quarantine
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, json-validate

fix(ci): pin codecov, commitlint, size-limit actions to real commit SHAs
  .github/workflows/ci.yml
Due: none

chore(release): 0.9.2
  package.json
Due: format, json-validate

fix(ci): correct action SHA pins and finalize 0.9.2 release metadata
  .github/workflows/ci.yml
  .release-please-manifest.json
  CHANGELOG.md
Due: format, json-validate

fix: sort imports/exports and bump VERSION constant to 0.9.2
  src/http/index.ts
  src/index.ts
Due: format, lint, typecheck

fix: bump VERSION constant to 0.9.2
  src/types/constants.ts
Due: format, lint, typecheck

test: update version assertions to 0.9.2
  src/client/client.test.ts
  src/config/config.test.ts
  src/http/http-client.test.ts
  src/index.test.ts
Due: format, lint, typecheck

fix(ci): correct action version comments to satisfy zizmor ref-version-mismatch
  .github/actions/setup/action.yml
Due: none

fix(ci): pin exact action versions in SHA comments (zizmor ref-version-mismatch)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release-manual.yml
  .github/workflows/release-please.yml
Due: none

Path conditions:
  format: any of: *.{js,ts,tsx,json}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
  json-validate: any of: *.json
